name: Pull Request

on: pull_request

env:
  DOTNET_NOLOGO: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        config:
          - debug
          - release

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Build version suffix
        run: echo "VERSION_SUFFIX=alpha.${{ github.event.number }}" >> $GITHUB_ENV

      - name: Setup .NET
        uses: actions/setup-dotnet@v1.8.2

      - run: dotnet build --configuration ${{ matrix.config }}

      - run: dotnet test --configuration ${{ matrix.config }} --no-build
        if: matrix.config == 'release'

      - run: dotnet test --configuration ${{ matrix.config }} --verbosity minimal --no-build --collect:"XPlat Code Coverage" --results-directory "./.codecoverage"
        if: matrix.config == 'debug'

      - run: dotnet pack --configuration ${{ matrix.config }} --output ./artifacts --version-suffix $VERSION_SUFFIX
        if: matrix.config == 'release'

      - name: Code coverage
        if: matrix.config == 'debug'
        uses: codecov/codecov-action@v2.1.0
        with:
          directory: "./.codecoverage"
          fail_ci_if_error: true

      - name: Publish artifacts
        if: matrix.config == 'release'
        uses: actions/upload-artifact@v2.2.4
        with:
          path: ./artifacts/*
